*{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,table,ul,li,form,input{ margin:0; padding:0; color:#000; font-family: "微软雅黑";}
a{ font-size:14px; color:#000; text-decoration:none; border:none; padding:0; margin:0;}
a:hover{ color:#900;}
img{ border:0;}
ul,li{ list-style:none; border:0; margin:0; padding:0;}
h1,h2,h3,h4,h5{ font-weight:normal; font-size:12px; display:block;}
.clear{ clear:both;}

body{ background:#eee; width:1000px; margin:0 auto; font-size:14px;}

.header{
background:#fff;
	}
.logo{
float:left;
width:350px;
}
.nav{
float:left;
width:650px;
}

.footer{
background:#eee;
height:30px;
line-height:30px;
text-align:center;
}
.index{
background:url(../images/bg.jpg) no-repeat;
padding:100px 0;
height:600px;
text-align:center;
color:#fff;
}
.index .useimg img{
	width:200px;
	height:200px;
	
}
.index h1.name{
font-size:32px;
line-height:100px; color:#fff;}
.index p{
line-height:35px;
color:#fff;
}
.index h1 a{color:#fff; font-size:32px;}
.about{
	background: #fff;
	overflow: hidden;
	padding:10px;
}
.a-left{
	float: left;
	width:300px;
	text-align: center;
}

.a-left h1{
	font-size: 32px;
	font-weight: bold;
}
.a-right{
	float: right;
	width:660px;
}
.a-right h2{
	line-height: 50px;
	font-size: 26px;
	text-align: center;
	color: #017A9F;
	border:1px dashed #ccc;
	border-left:0;
	border-radius: 0;
}
.a-right p{
	line-height: 30px;
	text-indent: 20px;
}
.site{
	font-size: 13px;
	color: #666;
	text-indent: 0;
	margin-bottom: 25px;
}
.box {
      width: 600px;
      height: 270px;
      margin: 15px auto;
      padding: 5px;
      border: 1px solid #ccc;
    }
 
    .inner {
      width: 600px;
      height: 270px;
      background-color: pink;
      overflow: hidden;
      position: relative;
    }
 
    .inner ul {
      width: 1000%;
      position: absolute;
      top: 0;
      left: 0;
    }
.inner ul  li{
	float: left;
	width:600px;
	height:270px;
}
 	.inner ul img{
		width:600px;
		 }
    .square {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
 
    .square span {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      text-align: center;
      line-height: 16px;
      cursor: pointer;
    }
 
    .square span.current {
      background-color: orangered;
      color: #fff;
}
.info{
	margin-bottom: 10px;
}
.info h2{
	font-size: 16px;
	text-align: left;
}
.jobs h2{
	font-size: 16px;
	color: #017A9F;
	border:1px dashed #ccc;
	border-left:0;
	border-radius: 0;
	line-height: 40px;
}
.pic{
	
	width:1000px;
}
.pic li{
	float: left;
	width:245px;
	text-align: center;
}
.pic li img{
	width:240px;
	height:180px;
}
.contact p{line-height:45px;}
.contact img{
	float: left; margin-right: 25px;
}
.contact h2{
	font-size: 18px;
	line-height: 36px;
	color: #12717C;
	font-weight: 800;
}
.contact-bott input[type="text"] {
  font-size: 1em;
  color: #8C8C8C;
  outline: none;
  width: 30%;
  margin: 0em 0em 1em 0em;
  border: 1px solid #999;
  padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 3px;
}
.contact-bott input.email {
  margin: 0px 10px 0px 10px;
}
.contact-bott textarea {
  font-size: 1em;
  color: #8C8C8C;
  outline: none;
  width: 100%;
  height: 10em;
  resize: none;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.contact-bott input[type="submit"] {
  font-size: 1em;
  color: #fff;
  padding: 0.5em 1.3em 0.4em 1.3em;
  background:#76b852;
  border: none;
  outline: none;
  margin: 0.6em auto 0em;
  display: block;
  border-radius: 4px;
}
.contact-bott input[type="submit"]:hover {
	background:#000;
}